<!-- Event Form -->
<!-- <h2 class="display-2 my-3">New event</h2> -->
<!-- {{ event | json }}
{{eventForm.value | json}} -->
<form [formGroup]="eventForm" (ngSubmit)="handleSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      formControlName="title"
      type="text"
      class="form-control is-valid"
      id="title"
      placeholder="Title"
      required
      [class.is-invalid]="title.invalid && (title.dirty || title.touched)"
      [class.is-valid]="title.valid"
    />
    <div class="invalid-feedback">Please provide a title!</div>
  </div>
  <div class="form-group">
    <label for="note">Note</label>
    <textarea
      formControlName="note"
      class="form-control"
      id="note"
      rows="5"
      required
      [class.is-invalid]="note.invalid && (note.dirty || note.touched)"
      [class.is-valid]="note.valid"
    >
    </textarea>
    <div class="invalid-feedback">Please provide a some notes her!</div>
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input
      formControlName="location"
      type="text"
      class="form-control"
      id="location"
      placeholder="location"
      required

      [class.is-invalid]="location.invalid && (location.dirty || location.touched)"
      [class.is-valid]="location.valid"
    />
    <!-- pattern="BGH\d+"   --> 31/5/22
    <div class="invalid-feedback" *ngIf="location.invalid && location.errors?.['required']">
      Please provide an event  Location!
    </div>
    <!-- <div class="invalid-feedback" *ngIf="location.invalid && location.errors?.['pattern']">
      Location  must start with BGH...!
    </div> -->

    <!-- <div class="invalid-feedback">Please provide a Location!<br>note here are pattern (BGH FOLLOWED BY 3 DIGITS)</div> -->
  </div>
  <div class="form-group">
    <label for="DateOfEvent">Event</label>
    <select formControlName="DateOfEvent"
            class="form-control"
            id="DateOfEvent"
            required
            [class.is-invalid]="DateOfEvent.invalid && (DateOfEvent.dirty || DateOfEvent.touched)"
            [class.is-valid]="DateOfEvent.valid"
      >
      <option value="EVENT1">EVENT1</option>
      <option value="EVENT2">EVENT2</option>
      <option value="EVENT3">EVENT3</option>
      <option value="EVENT4">EVENT4</option>
      <option value="EVENT5">EVENT5</option>
      <option value="EVENT6">EVENT6</option>
    </select>
    <div class="invalid-feedback">Please provide a status!</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid" >Submit</button>
</form>
