<!-- Event List -->
<h2 class="display-2 my-3">My events</h2>
<p><a class="btn btn-primary" routerLink="/events/new" role="button">New event</a></p>

<div class="row">
  <div class="col">
    <app-event-filter
    [DateOfEvent]="DateOfEvent"
    (DateOfEventChange)="handleDateOfEventChange($event)">
    </app-event-filter>

    <div class="list-group">
      <!-- *ngFor="let event of events" -->
      <a
        *ngFor="let event of filteredEvents"
        (click)="selectedEvent=event"
        class="list-group-item list-group-item-action"
        [class.list-group-item-danger]="event.DateOfEvent === 'EVENT1'"
        [class.list-group-item-warning]="event.DateOfEvent === 'EVENT2'"
        [class.list-group-item-light]="event.DateOfEvent === 'EVENT3'"
        [class.list-group-item-info]="event.DateOfEvent === 'EVENT4'"
        [class.list-group-item-dark]="event.DateOfEvent === 'EVENT5'"
        [class.list-group-item-danger]= "event.DateOfEvent === 'EVENT6'"
        [routerLink]="['/events', event.id]"
      >
      <!-- routerLink="/events/1" -->
      <!-- routerLink="/events/{{ event.id }}" -->

        <div class="d-flex w-100 justify-content-between align-items-center">
          <h5 class="mb-1">{{ event.title }}</h5>
          <span class="badge"
          [class.badge-danger]= "event.DateOfEvent === 'EVENT1'"
          [class.badge-warning]= "event.DateOfEvent === 'EVENT2'"
          [class.badge-light]=  "event.DateOfEvent === 'EVENT3'"
          [class.badge-info]=   "event.DateOfEvent === 'EVENT4'"
          [class.badge-dark]=   "event.DateOfEvent === 'EVENT5'"
          [class.badge-danger]= "event.DateOfEvent === 'EVENT6'"
          >
           {{ event.DateOfEvent }} <span>
             <div>
<a class="btn btn-primary" [routerLink]="['/events', event.id, 'edit']" role="button">Edit</a>
             </div></span> </span>
        </div>
        <p class="mb-1">
          {{event.note}}.
        </p>
        <small>
          <i class="fas fa-map-marker-alt"></i> {{ event.location }}
          <i class="fas fa-calendar-alt"></i> 2022-30-05.
          <i class="fas fa-comment"></i>
          <span class="badge badge-light badge-pill">3</span>
        </small>
      </a>

     </div>
    {{ selectedEvent | json}}
  </div>

  <div *ngIf="selectedEvent" class="col">
    <!-- the parent is event-list -->
    <!-- Child -->
    <app-event-form [event]="selectedEvent" (save)="handleSave($event)"></app-event-form>
  </div>
</div>

