<!-- Event List -->
<h2 class="display-2 my-3">My events</h2>
<p><a class="btn btn-primary" href="#" role="button">New event</a></p>
<div class="list-group">
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-danger"
  >
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h5 class="mb-1">Important Event</h5>
      <span class="badge badge-danger">Event1</span>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
      risus varius blandit.
    </p>
    <small>
      <i class="fas fa-map-marker-alt"></i> PC1
      <i class="fas fa-calendar-alt"></i> 2019.01.01.
      <i class="fas fa-comment"></i>
      <span class="badge badge-light badge-pill">3</span>
    </small>
  </a>

  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-warning"
  >
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h5 class="mb-1">Important Event</h5>
      <span class="badge badge-warning">Event2</span>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
      risus varius blandit.
    </p>
    <small>
      <i class="fas fa-map-marker-alt"></i> PC1
      <i class="fas fa-calendar-alt"></i> 2019.01.01.
      <i class="fas fa-comment"></i>
      <span class="badge badge-light badge-pill">3</span>
    </small>
  </a>

  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-success"
  >
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h5 class="mb-1">Important Event</h5>
      <span class="badge badge-success">Event3</span>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
      risus varius blandit.
    </p>
    <small>
      <i class="fas fa-map-marker-alt"></i> PC1
      <i class="fas fa-calendar-alt"></i> 2019.01.01.
      <i class="fas fa-comment"></i>
      <span class="badge badge-light badge-pill">3</span>
    </small>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-warning"
  >
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h5 class="mb-1">Important Event</h5>
      <span class="badge badge-success">Event4</span>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
      risus varius blandit.
    </p>
    <small>
      <i class="fas fa-map-marker-alt"></i> PC1
      <i class="fas fa-calendar-alt"></i> 2019.01.01.
      <i class="fas fa-comment"></i>
      <span class="badge badge-light badge-pill">3</span>
    </small>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-success"
  >
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h5 class="mb-1">Important Event</h5>
      <span class="badge badge-success">Event5</span>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
      risus varius blandit.
    </p>
    <small>
      <i class="fas fa-map-marker-alt"></i> PC1
      <i class="fas fa-calendar-alt"></i> 2019.01.01.
      <i class="fas fa-comment"></i>
      <span class="badge badge-light badge-pill">3</span>
    </small>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-success"
  >
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h5 class="mb-1">Important Event</h5>
      <span class="badge badge-success">Event6</span>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
      risus varius blandit.
    </p>
    <small>
      <i class="fas fa-map-marker-alt"></i> PC1
      <i class="fas fa-calendar-alt"></i> 2019.01.01.
      <i class="fas fa-comment"></i>
      <span class="badge badge-light badge-pill">3</span>
    </small>
  </a>
</div>
