<!-- main page -->
<div class="jumbotron">
  <div class="container">
    <!-- show dynmiclly -->
    <h1 class="display-4">{{ title }}</h1>

    <p class="lead">Submit events and track them!</p>
    <p> Number of Events {{ number_of_events }}</p>
    <p><a class="btn btn-primary" routerLink="/events/new" role="button">New event</a></p>
    <img src="https://media.istockphoto.com/photos/audience-listens-to-the-lecturer-at-the-conference-picture-id974238866?k=20&m=974238866&s=612x612&w=0&h=DUBZOmGYNntkcIlfY8xFJYcVYFzO5HxnL9YaoqbV3xc=" class="img-fluid" alt="Responsive image">
    <img src="https://media.istockphoto.com/photos/audience-listens-to-the-lecturer-at-the-conference-picture-id974238866?k=20&m=974238866&s=612x612&w=0&h=DUBZOmGYNntkcIlfY8xFJYcVYFzO5HxnL9YaoqbV3xc=" class="img-fluid" alt="Responsive image">

  </div>

</div>

