<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Event tracker</a>
  <!-- her I need logo  -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" (click)="isMenuCollapsed = true">Events</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/events/new" (click)="isMenuCollapsed = true">New event</a>
      </li> -->
<!-- new 29-5 -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" (click)="isMenuCollapsed = true">About us </a>
      </li>
    </ul>
  </div>
</nav>
